body {
	font-family: 'Helvetica Neue','Helvetica','Nimbus Sans L','Arial','Liberation Sans',sans-serif;
	font-size: 100%;
	line-height: 1.4;
}

.wrapper {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

.source-code {
	padding-top: 30px;
}
